
@media (max-width: 600px) {

    .container{
        flex-direction: column;
    }
}

.body-1-text, .body-2-text, .c-user-modal .c-user-modal-content, .c-user-modal .c-user-modal-content input, .c-user-modal header, .c-user-modal header a, .rc-AuthenticationModal-content header, .rc-AuthenticationModal-content header a, .rc-AuthenticationModal .c-user-modal-content, .rc-AuthenticationModal .c-user-modal-content .c-user-modal-error-icon, .rc-AuthenticationModal .c-user-modal-content input, .rc-AuthenticationModal .rc-AuthenticationModal-content header, .rc-AuthenticationModal .rc-AuthenticationModal-content header a, .search-bar .input-area .search-input, body, p, ul.styleguide.dropdown li>a, ul.styleguide.dropdown li>button, ul.styleguide.dropdown li>button.secondary {
    font-size: 14px;
    line-height: 21px;
    font-family: OpenSans, Arial, sans-serif;
}

form {
    display: block;
    margin-top: 0em;
    unicode-bidi: isolate;
}