
@media (max-width: 600px) {

    .container{
        flex-direction: column;
    }
}

@font-face {
    font-family: "handwriting";
    src:
      url("fonts/journal-webfont.woff2") format("woff2"),
      url("fonts/journal-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: "typewriter";
    src:
      url("fonts/momot___-webfont.woff2") format("woff2"),
      url("fonts/momot___-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }
  
  .outer-container {
    width: calc(100% - 10cm); /* El formulario ocupará un 100% menos 5 cm de cada lado */
    margin: 5cm auto; /* Agrega 5 cm de margen alrededor */
    padding: 20px;
    border: 3px solid #000; /* Borde negro para el recuadro externo */
    border-radius: 15px; /* Bordes redondeados para el recuadro externo */
    background-color: #f1f1f1;
  }

  /* Estilo para el formulario dentro del recuadro */
  form {
    width: 95%;
    padding: 20px;
    border: 2px solid #4CAF50; /* Borde verde alrededor del formulario */
    border-radius: 10px; /* Bordes redondeados */
    background-color: #fff; /* Fondo blanco para el formulario */
  }

  /* Estilo para el título */
  h1 {
    text-align: center;
    color: #4CAF50;
  }

  /* Espaciado entre los elementos */
  div {
    margin-bottom: 15px;
  }

  /* Estilo para las etiquetas */
  label {
    font-size: 16px;
    font-weight: bold;
    color: #333;
  }

  /* Estilo para los campos de entrada */
  input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc; /* Recuadro gris alrededor de los campos */
    border-radius: 5px;
    box-sizing: border-box; /* Para que el padding no afecte el ancho total */
  }

  /* Estilo para los botones */
  button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
  }

  button:hover {
    background-color: #45a049;
  }

  /* Estilo para el botón de reset */
  button[type="reset"] {
    background-color: #f44336;
  }

  button[type="reset"]:hover {
    background-color: #e53935;
  }

  .user-info {
    position: absolute; /* Posiciona el contenedor relativo a su primer contenedor posicionado (el header) */
    top: 20px; /* Distancia desde la parte superior */
    right: 20px; /* Distancia desde la parte derecha */
    display: flex;
    align-items: center;
}

/* Imagen del usuario */
.user-image {
    width: 30px; /* Tamaño pequeño para la imagen */
    height: 30px;
    border-radius: 50%; /* Hace que la imagen sea redonda */
    margin-right: 10px; /* Espacio entre la imagen y el nombre */
}

/* Nombre del usuario */
.user-name {
    color: #fff;
    font-weight: bold;
}

